@import "tailwindcss";
@import url('/fonts.css');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-tanker: 'Tanker', sans-serif;
  --font-bespoke: 'Bespoke Serif', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-tanker: var(--font-tanker);
  --font-bespoke: var(--font-bespoke);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Bespoke Serif', serif;
}